/* Target the checkbox wrapper */
.custom-checkbox .ant-checkbox-wrapper {
  outline: none;
}

/* Target the inner checkbox element */
.custom-checkbox .ant-checkbox {
  border: 0.5px solid; /* Add a 1px border */
  /* border-radius: 2px; */
  outline: 0.5px solid #fff; /* Add outline */
}

/* You can make the outline more visible on hover */
.custom-checkbox .ant-checkbox:hover {
  outline: 1px solid #1890ff;
}

/* Optional: Make the outline more visible when focused */
.custom-checkbox .ant-checkbox-focused {
  outline: 2px solid rgba(24, 144, 255, 0.5);
  outline-offset: 1px;
}

.white-color {
  color: white;
}
.ant-menu-light {
  background-color: transparent;
}
.button-primary{
  background-color: #ffb700;
  color: #fff;

}
.button-primary:hover{
  background-color: #d19602 !important;
  color: #fff !important;
  border: none !important;
  outline: none;
}
.icon-button-admin{
  color: #ffb700;
  font-size: 20px;
  height: 22px;
}

.ant-menu-item-selected{
  background-color: #fff7e1 !important;
  color: rgb(103, 102, 102) !important;
}
.ant-modal-close{
  display: none;
}

.large-label-form-item .ant-form-item-label > label {
  font-size: 17px;
}
.large-label-form-item .ant-form-item-explain{
  display: flex;
}
.ant-layout-header{
  padding-left: 15px !important;
}



